@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.not-intrested-btn:hover{
    background-color: red;
    color: white;
    transition: all 0.2s;
}